#root {
}

body{
  font-family: Roboto Thin,Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4;
  height: 100%;
}


.app-header {
  width: 100%;
  background-color: #fffdf5;
  border-bottom: 3px solid #d23f31;
  padding: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 2rem;
  font-family: "Century Gothic", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title-wrapper{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  cursor: pointer;
}
.app-title-wrapper:hover{
  background-color: #f1f1f1;
}
.app-logo {
  height: 64px;
  width: 64px;
  object-fit: contain;
  display: block;
  margin-right: 8px;
  transform: translateY(1px);
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #fff;
}

.app-header p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: fade;
}

@media (max-width: 1000px) {
  .app-title-wrapper p {
    display: none;
  }
}

nav {
  padding: 10px 20px;
  margin-left: 5%;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 6px 20px;
  margin-right: 12px;
  font-size: 1.2rem;
}

nav a:hover {
  background-color: #d23f31;
  color: white;
  border-radius: 4px;
}